<h1 class="text-center mt-4">Lista de productos</h1>

{{#if productos.length}}
  <div class="container mt-4">
    <div class="row">
      {{#each productos}}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="{{thumbnails.[0]}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">${{price}}</p>
              <p class="card-text">{{description}}</p>
              <p class="card-text"><small class="text-muted">Stock: {{stock}}</small></p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p class="text-center">No hay productos cargados todavía.</p>
{{/if}}
